.navbar-Section {


  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    .logo-div {
      a {
        color: var(--pimaryColor);
        font-weight: 500;
        cursor: pointer;
        align-items: center;
        justify-content: center;

      }
    }

    .navbar {
      .navLists {
        display: flex;
        gap: 1.5rem;

        .navItem {
          a {
            color: var(--whiteColor);

            &:hover {
              color: var(--pimaryColor);
            }
          }
        }
      }
    }

    .header-btn {
      display: flex;
      gap: 1.5rem;

      .login-btn {
        background: none;
        border: 1px solid var(--pimaryColor);

        a {
          color: var(--pimaryColor);
        }
      }

      .login-btn:hover {
        background-color: var(--pimaryColor);

        a {
          color: var(--whiteColor);
        }
      }
    }

    .closeNavbar {
      display: none;
    }

    .toggleNavbar {
      display: none;
    }

    @media screen and (max-width: 880px) {
      .navbar {
        background: var(--greyBg);
        position: absolute;
        height: 100vh;
        padding: 1.5rem 1rem;
        width: 100%;
        top: 0;
        left: -500%;
        box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
        transition: .5s ease;
        z-index: 1000;
        justify-content: center;
        display: flex;

        .navLists {
          flex-direction: column;
          width: 100%;
          margin: auto;
          gap: 1rem;

          .navItem {
            padding: 0.5rem 0;

            .navLink {
              color: var(--textColor);
              font-size: 1.3rem;
              font-weight: 600;

              &:hover {
                color: var(--pimaryColor);
              }
            }
          }

          .header-btn {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            gap: 40px;
            margin-top: 10px;

            .btn {
              a {
                font-weight: 600;

                &:hover {
                  color: var(--whiteColor);
                }
              }
            }

            .login-btn {
              background: none;
              border: 1px solid var(--pimaryColor);

              a {
                color: var(--pimaryColor);
              }
            }
          }
        }

        .closeNavbar {
          position: absolute;
          top: 1rem;
          right: 1.5rem;
          color: var(--pimaryColor);
          display: block;

          &:hover .icon {
            color: var(--HoverColor);
          }
        }
      }
      .toggleNavbar {
        display: block;
        color: white;

        &:hover {
          color: var(--pimaryColor);
        }
      }
      .activeNavbar {
        left: 0;
      }
    }
  }

  .activeHeader {
    background: #0f0804;
    box-shadow: var(--box-shasow);
  }
}